/* ====== базовая раскладка ====== */

body {
    font-family: Golos Text, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #111;
}

/* ====== чёрная полоса ====== */
.top-bar {
    background: black;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-inner {
    max-width: calc(3 * 400px + 2 * 110px);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative; /* для центрирования логотипа */
}

/* поиск слева */
.search-form {
    width: 400px;
    height: 40px;
}

.search-form input {
    width: 100%;
    height: 100%;
    padding: 0 40px 0 12px;      /* справа место под иконку */
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #565C65;
    background: transparent;
    border: 1px solid #565C65;
    outline: none;
}

/* логотип строго по центру */
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    width: 89px;
    height: 75px;
    object-fit: contain;
}

/* опционально: правая часть (например, кнопки) */
.top-right {
    margin-left: auto;
}

main { 
    padding: 0px 24px; 
}

h1 { 
    text-align: left; 
    margin: 16px 0 32px; 
}

/* ====== заголовок ====== */
.page-title {
    font-family: "Golos Text", sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.1;
    margin-top: 55px;
    margin-bottom: 55px;
    color: #111;
    text-align: left;
}

.page-title-wrapper {
    display: flex;
    justify-content: center;
}

.page-title-inner {
    max-width: calc(3 * 400px + 2 * 110px);
    width: 100%;
    margin: 0 auto;
}

/* ====== карточки ====== */
.stars-grid {
    display: flex;
    flex-wrap: wrap;         /* карточки переносятся */
    gap: 110px;              /* промежутки */
    justify-content: center; /* центрируем */
}

.star-card {
    width: 400px;
    height: 600px;
    background: #000;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    box-shadow: none;
    padding: 0;
}

.star-card a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.star-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

/* подписи поверх картинки */
.star-card h2,
.star-card p {
    position: absolute;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.8);
    pointer-events: none;
}

.star-card h2 {
    left: 40px;
    top: 495px;
    font-family: "Golos Text", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
}

.star-card p {
    left: 44px;
    top: 539px;       
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.30em;
}
