body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #111;
}

.top-bar {
    background: black;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h1, h2, p {
    text-align: center;
}
