<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Звёзды галактики Андромеды</title>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/starts_catalog_style.css">
</head>
<body class="index-page">
    <header class="top-bar">
        <div class="top-bar-inner">
            <a href="/Andromeda" class="logo">
                <img src="http://127.0.0.1:9000/cardsandromeda/image.png" alt="home">
            </a>
        </div>
    </header>

    <main>
        <div class="page-title-wrapper">
            <div class="page-title-inner">
                <div class="page-title-container">
                    <h1 class="page-title">Звезды галактики Андромеды</h1>
                    <div class="cart-in-title">
                        <a href="/cart/{{.cartID}}" class="cart-icon" style="position: relative;">
                            <img src="http://127.0.0.1:9000/cardsandromeda/cart.png" alt="Корзина">
                            {{if gt .cartItemsCount 0}}
                            <span class="cart-count">{{.cartItemsCount}}</span>
                            {{end}}
                        </a>
                    </div>
                </div>
                <form action="/Andromeda" method="GET" class="search-form-under-title">
                    <input type="text" name="query" placeholder="Поиск звезды..." value="{{ .query }}">
                </form>
            </div>
        </div>

        <section class="stars-grid">
            {{ range .orders }}
            <article class="star-card">
                <a href="/Andromeda/star/{{ .ID }}">

                    <!-- ИСПРАВЛЕННАЯ СТРОКА: как в корзине -->
                    <img src="{{$.minioService.GetImageURL .ImageName}}" alt="{{ .Title }}">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Distance }} св. лет</p>
                </a>
            </article>
            {{ end }}
        </section>
    </main>
</body>
</html>